extends layout

block content
  #main.container-fluid
    div.col-sm-2
        #workersarea.panel.panel-primary
            div.panel-heading
                h2.panel-title= "Available workers"
            div#workersPanel.panel-body
                ul#workers

    #workarea.col-sm-7
        h3= title
        input#startRendering(type="button", value="Start rendering")
        input#cancelRendering(type="button", value="Cancel")

        canvas#image(width=640, height=480)

    #debugarea.col-sm-3.well

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/rending.js')
    script(src='/js/index.js')