extends layout

block content
  #main.container-fluid
    div.col-md-2
        #workersarea.panel.panel-primary
            div.panel-heading
                h2.panel-title= "Available workers"
            div#workersPanel.panel-body
                ul#workers

    #workarea.col-md-8
        h3= title
        div#commands
            input#width(type='range', min='20', max='1200', step='20', value='640', name='width')
            input#widthTxt(type='text', disabled='true')
            input#height(type='range', min='20', max='1200', step='20', value='480')
            input#heightTxt(type='text', disabled='true')
            br
            select#scenes
                each scene in scenes.length ? scenes : [{ path: "Invalid", name: "No scenes"}]
                    option(value=scene.path)= scene.name
            br
            input#startRendering(type="button", value="Start rendering")
            input#cancelRendering(type="button", value="Cancel")

        canvas#image(width=640, height=480)

    #debugarea.col-md-2.well

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/rending.js')
    script(src='/js/index.js')