extends layout

block content
  h1= title
  #main
    #loading
        p.
            Loading data from the server...
    ul#workers
        each val in nodes
            li= val
    input#startRendering(type="button", value="Start rendering")

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='/js/rending.js')