extends layout

block content
  h1= title
  #main
    #loading
        p.
            Loading data from the server...
    ul#workers
    input#startRendering(type="button", value="Start rendering")

    canvas#image(width=640, height=480)

block scripts
    script(src='/socket.io/socket.io.js')
    script(src='https://code.jquery.com/jquery-2.1.4.min.js')
    script(src='/js/rending.js')